node_modules
rpmbuild
server/config/certificate.pem
server/config/certrequest.csr
server/config/local.json
server/config/privatekey.pem
server/var

static/css/ie8.min.css
static/css/style.min.css
static/js/error.min.js