<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Contacting</title>
<link rel="stylesheet" href="/css/stylo.css" type="text/css">
</head>
<body class="auth">
<div id="page">
  <div id="content">
    <p class="progress b"><%= gettext('Loading') %> <span></span></p>
    <img src="/i/progress.gif" width="128" height="15" alt="Loading" />
  </div>
</div>
<script type="text/javascript" src="<%= browserid_server %>/authentication_api.js"></script>
<script type="text/javascript">
navigator.id.beginAuthentication(function(email) {
  if (email) {
    window.location.pathname = '/proxy/' + encodeURIComponent(email);
    var parts = email.split('@');
    if (parts.length > 1) {
      var spans = document.getElementsByTagName('span');
      if (spans.length > 0)
        spans[0].appendChild(document.createTextNode(parts[1]));
    }
  } else {
    window.location.pathname = '/error';
  }
});
</script>
</body>
</html>
