<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/stylo.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>
  <body><!-- TODO temporary during development, I don't think BigTent will use any layout.ejs -->
    <nav>
  <ul>
    <li>Current Email: <%= current %></li>
    <% if (active_emails.length > 1) { %>
    <li><h4>Other Active Emails:</h4><ul>
      <%
         for (var i=0; i < active_emails.length; i++) {
           if (active_emails[i] == current) {
             continue;
           }
      %>
          <li><%= active_emails[i] %></li>
      <% } %>
      </ul></li>
      <% } %>
    <li><a href="/logout">Log out</a></li>
    <li><form><input type="email" id="email" /><input type="submit" value="Sign in" /></form>
  </ul>
</nav>
    <div id="content">
      <%- body %>
    </div><!-- #content -->
<!-- TODO: We don't actually need this, right? -->
<script src="<%= browserid_server %>/authentication_api.js"></script>
<script src="/js/lib/jquery.min.js"></script>
<script>
$('form').submit(function (e) {
  e.preventDefault();
  window.location.href = '/proxy/' + encodeURIComponent($('#email').val());
});
</script>
  </body>
</html>
