<html>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/account">My Account</a></li>
    <li><a href="/login">Log In</a></li>
    <li><a href="/logout">Log out</a></li>
  </ul>
</nav>
<%- body %>