<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>provisioning</title>
</head>
<body>
<input type="hidden" name="_csrf" value="<%= csrf_token %>" />
<% if ('development' === dev_mode) { %>
  <%- partial('debug_provisioning_api') -%>
<% } else { %>
<script type="text/javascript" src="<%= browserid_server %>/provisioning_api.js"></script>
<% } %>
<%- cachify_js('/js/lib/jquery.min.js') %>
<% /* /provision.js is dynamic, cannot be cachified */ %>
<script type="text/javascript" src="/provision.js" /></script>
</body>
</html>
