<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Log In in progress</title>
  <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
<% if ('development' === dev_mode) { %>
  <%- partial('debug_authentication_api') -%>
<% } else { %>
<script type="text/javascript" src="<%= browserid_server %>/authentication_api.js"></script>
<% } %>
<script>
if (!! localStorage.width && !! localStorage.height) {
  var w = parseInt(localStorage.getItem('width'), 10);
  var h = parseInt(localStorage.getItem('height'), 10);
  if (! isNaN(w) && w > 100 && ! isNaN(h) && h > 100) {
    window.resizeTo(w, h);
    if (localStorage.removeItem) {
      localStorage.removeItem('width');
      localStorage.removeItem('height');
    }
  }
}

navigator.id.beginAuthentication(function(email) {
  if (email === "<%= current_user %>") {
      navigator.id.completeAuthentication();
  } else {
      navigator.id.raiseAuthenticationFailure('user is not authenticated as target user');
  }
});
</script>
</body>
</html>
