<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>signin</title>
</head>
<body>
<script type="text/javascript" src="<%= browserid_server %>/authentication_api.js"></script>
<script type="text/javascript" src="/js/provision.js" /></script>
<script>
navigator.id.completeAuthentication();
</script>
</body>
</html>