<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Log In in progress</title>
</head>
<body>
<script type="text/javascript" src="<%= browserid_server %>/authentication_api.js"></script>
<script>
navigator.id.beginAuthentication(function(email) {
  // From mozilla/browserid resources/static/pages/page_helpers.js
  window.resizeTo(700, 375);
  if (email == "<%= current_user %>") {
      navigator.id.completeAuthentication();
  } else {
      navigator.id.raiseAuthenticationFailure('user is not authenticated as target user');
  }
});
</script>
</body>
</html>