<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="openid2.provider" href="https://open.login.yahooapis.com/openid/op/auth">
        <link rel="openid.server" href="https://open.login.yahooapis.com/openid/op/1.1/auth">
        <title>Yahoo! OpenID Identity Page</title>
        <link type="text/css" rel="stylesheet" href="https://s.yimg.com/lq/lib/reg/css/reset-fonts-grids.css">
        <link type="text/css" rel="stylesheet" href="https://s.yimg.com/lq/lib/reg/css/openid_134.css">
<style>
button { font-weight:bold; font-size:114%;overflow:visible; }
* > #footer a {position:relative;}
</style>

    </head>
    <body>
                <div id="doc" class="yui-t7">
                <!-- intl = us, spaceid = 150002036 offset = 0 position = HEAD -->

<!-- static header -->

<link type="text/css" rel="stylesheet" href="https://s.yimg.com/lq/lib/uh/15/css/uh_slim_ssl-1.0.5.css">
<style type="text/css">
#ygmatip{display:none;position:absolute;left:8px;top:28px;border:1px solid #c3c3c3;padding:5px;background-color:#fcfcfc;text-align:left;z-index:25;}
#mepanel{position:relative;}
em{font-style:normal;}
</style>

<div id="mem_hd">
    <div id="ygma">
        <div id="ygmaheader">
            <div class="bd sp">
                <div id="yahoo" class="ygmaclr">
                    <div id="ygmabot">
                        <a id="ygmalogo" href="http://www.yahoo.com"><img id="ygmalogoimg" src="https://s.yimg.com/lq/i/brand/purplelogo/base/us.gif" alt="Yahoo!" name="ygmalogoimg"></a>
                    </div>                    <div id="mepanel">
                        <ul id="mepanel-nav">
                            <li class="me1">
                                <a href="http://www.yahoo.com" target="_blank">Yahoo!</a>
                            </li>
                            <li class="me2">
                                <a id="ygmahelp" href="http://help.yahoo.com/l/en-us/yahoo/edit/" target="_blank">Help</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>              <div id="bd">
                    <div id="yui-main">
                        <div class="tosBody">
                                <div class="section">
                                        <div class="top"><div></div></div>
                                        <div class="content">
                                               <p>
                                               This is the identity page for Yahoo! user:&nbsp;https://me.yahoo.com/a/wS1JKacQi4p4xQo18GMr_WME7g--                                               </p>
                                               <p>
                                               For further information, visit <a href="http://openid.yahoo.com">http://openid.yahoo.com</a>.
                                               </p>
                                        </div>
                                    </div>
                            </div>
                    </div>
                </div>

                <!-- intl = us, spaceid = 150002036 offset = 0 position = FOOT -->

<!-- static footer -->

<style type="text/css">
#mem_ft {border-top:1px solid #CCCCCC;font-size:10px;margin-top:1em;padding-top:0.5em;font-family:arial,helvetica,clean,sans-serif;text-align:center}
#mem_ft p {margin:0;padding:0;}
#mem_ft .updt{color: #DC1A22; font-weight: bold;}
</style>
<!--[if IE]>
<style type="text/css">
#mem_ft p {margin:0.25em 0 0 0;}
</style>
<![endif]-->
<div id="mem_ft">
    <p>

        Copyright © 2012 Yahoo! Inc. All rights reserved.
        <a href="https://legalredirect.yahoo.com/copyright?intl=us" target='_blank'>Copyright/IP Policy</a> |
        <a href="https://legalredirect.yahoo.com/utos?intl=us" target='_blank'>Terms of Service</a> |
        <a href="http://security.yahoo.com" target="_blank">Guide to Online Security</a>
    </p>    <p>NOTICE: We collect personal information on this site. To learn more about how we use your information, see our <a target="_blank" href="https://legalredirect.yahoo.com/privacy?intl=us">Privacy Policy</a> (<span class="updt">Updated</span>)    </p>
</div>
            </div>
</body>
</htmL>
<!-- oid03.member.bf1.yahoo.com uncompressed/chunked Sun Jul  8 14:30:28 PDT 2012 -->